// Base nav styles and Mobile nav styles

.navigation {
	display: none;
	max-width: none;
	padding: 0;
	background-color: #f8f3dd;
	@include background-image(linear-gradient(#f8f3dd, #f0e5b6));
	li {
		a {
			border-bottom: 1px solid #fff;
			display: block;
			padding: 10px;
			text-transform: uppercase;
			text-shadow: 0 1px 1px rgba(255,255,255,1);
		}
	}
}

.slide-trigger {
	color: $yellow;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding: 10px;
	text-transform: uppercase;
	background-color: #000;
	@include background-image(linear-gradient(#333333, #000000));
	span {
		background: transparent image-url('nav-icon.png') no-repeat;
		float: right;
		height: 20px;
		width: 20px;
	}
}