.prd-detail-wrap {

}

.prd-detail-img {
	border: 1px solid $grey;
	float: left;
	overflow: hidden;
	padding: 10px;
	dt {
		margin-bottom: 10px;
		img {
			display: block;
		}
	}
	dd {
		float: left;
		margin-right: 10px;
	}
}

.prd-details-wrap {
	overflow: hidden;
}

.prd-details {
	float: left;
	padding-left: 40px;
	width: 60%;
	h2 {
		font-size: 2em;
		color: $maroon;
		+ p {
			color: $darkgrey;
		}
	}
}

.prd-promotion {
	font: $fontweight 1.5em/1em $font;
	color: #fff;
	background-color: $brown;
	text-transform: uppercase;
	padding: 10px 10px;
	margin-bottom: 20px;
}

.prd-rating-wrap {
	padding: 10px 0;
	overflow: hidden;
	.rating {
		float: left;
		margin: 0 10px 0 0;
	}
	p {
		float: left;
		color: $blue;
	}
	a {
		color: $blue;
		&:hover {
			color: $red;
		}
	}
}


.prd-buy-wrap {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 30px 0;
	margin: 0 0 20px;
	overflow: hidden;
}

.prd-buy-lt {
	float: left;
	width: 50%;
}

.prd-buy-rt {
	background-color: $lightgrey;
	border: 2px solid $grey;
	float: right;
	padding: 10px 10px 20px;
	width: 40%;
	li {
		margin: 0 0 6px;
		&:first-child {
			border-bottom: 1px dotted $darkgrey;
			margin-bottom: 10px;
		}
		&:last-child {
			background-color: #fff;
			padding: 10px;
			margin-bottom: 10px;
		}
	}
	span {
		color: $maroon;
		font-weight: bold;
		text-transform: uppercase;
	}
	label {
		font-weight: bold;
		display: inline-block;
		text-transform: uppercase;
		width: 50px;
	}
	> p {
		font-size: 11px;
		line-height: 1;
	}
	.btn-red-flat {
		font-size: 1.5em;
	}
}

.prd-price {
	margin: 0 0 10px;
	color: $red;
	font-size: 1.75em;
	font-weight: bold;
}

.prd-blts {
	margin: 20px 0 0;
}

.prd-share {
	font-size: 1.25em;
	i {
		margin: 0 6px 0 0;
	}
	a {
		color: $blue;
		&:hover {
			color: $red;
		}
	}
}

.prd-social-share {
	background-color: $lightgrey;
	float: right;
	padding: 10px;
	text-align: center;
	li {
		margin: 0 0 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $darkgrey;
	}
}

.prd-info {
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	clear: both;
	overflow: hidden;
	margin: 30px 0;
	padding: 20px 0;
	li {
		float: left;
		border-left: 1px dotted $grey;
		width: 33%;
		padding: 0 20px;
		@include box-sizing(border-box);
		&:first-child {
			padding-left: 0;
			border-left: none;
		}
		p:nth-child(1) {
			margin: 0 0 10px;
		}
	}
	strong {
		font: $fontweight 1.25em/1em $font;
		color: $maroon;
	}
}

.customer-reviews-header {
	background-color: $cream;
	border-bottom: 1px solid $grey;
	margin-bottom: 20px;
	padding: 10px 0;
	overflow: hidden;
}

.cust-rev-lt {
	float: left;
	padding-left: 10px;
	width: 70%;
	ul {
		border-right: 1px solid #fff;
		float: left;
		margin: 0 30px 0 0;
		padding: 0 30px 0 0;
	}
	h3 {
		font: $fontweight 1.75em/1em $font;
	}
	p {
		font: $fontweight 1.75em/1em $font;
		color: $maroon;
		text-transform: uppercase;
	}
}

.cust-rev-rt {
	float: right;
	padding-right: 10px;
	text-align: right;
	width: 25%;
	ul {
		padding-top: 6px;
	}
	li {
		display: inline;
		padding-left: 10px;
		&:first-child {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.btn-red {
		font-size: 1em;
	}
}

.customer-reviews {
	> div {
		border-bottom: 1px dotted $grey;
		overflow: hidden;
		margin: 0 0 20px 0;
		padding: 0 10px 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	dl {
		float: left;
		width: 10%;
	}
	dd {
		&:last-child {
			font-style: italic;
			font-weight: bold;
		}
	}
	ul {
		float: left;
		width: 85%;
	}
}

.helpful {
	text-transform: uppercase;
	border: 1px solid $grey;
	padding: 6px;
	margin: 10px 0 0;
	width: 15%;
	@include background-image(linear-gradient(white 60%, $lightgrey));
	span {
		font-weight: bold;
	}
	.icon-thumbs-up {
		color: green;
		margin: 0 10px 0 4px;
	}
	.icon-thumbs-down {
		color: $red;
		margin: 0 0 0 4px;
	}
}

.customer-review-ftr {
	text-align: right;
	padding: 10px;
	li {
		display: inline;
		padding-left: 10px;
		&:first-child {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.btn-red {
		font-size: 1em;
	}
}